body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#e7cfb4;
}

/* NAVBAR */
.navbar{
    background:#563232;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.logo{
    color:white;
    font-size:32px;
    font-weight:bold;
}

.menu{
    list-style:none;
    display:flex;
    gap:40px;
}

.menu li a{
    color:white;
    text-decoration:none;
    font-size:22px;
}

/* PAGE TITLE */
.page-title{
    text-align:center;
    margin:40px 0;
    font-size:36px;
    color:#1b6e6e;
    letter-spacing:2px;
}

/* GRID */
.food-container{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:30px;
    padding:0 80px 50px;
}

/* CARD */
.food-card{
    border:1px solid #ddd;
    padding:15px;
    text-align:center;
    border-radius:5px;
    background:#bfb2a1;
}

.food-card img{
    width:250px;
    height:300px;
    object-fit:cover;
    border-radius:5px;
    background:#e0e0e0;
}

.food-card h3{
    margin:10px 0 5px;
    font-size:16px;
}

.price{
    font-weight:bold;
}

/* BUTTON */
.btn{
    background:#1b6e6e;
    color:white;
    border:none;
    padding:10px;
    width:100%;
    cursor:pointer;
    border-radius:3px;
    margin-top:8px;
}

.btn:hover{
    background:#144f4f;
}

/* FOOTER */
.site-footer{
    margin-top: 50px;
    background: #563232;
    color: #fff;
    padding: 10px 0;
}

.footer-container{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left p{
    margin: 5px 0;
}

.footer-right{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.cart-wrapper{
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

.cart-table{
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

.cart-table th, .cart-table td{
    padding: 12px;
    text-align: center;
    border: 1px solid black;
}
